<h2 class="screen-align">Createseverity</h2>
<div id="template-iakn" class="gjs-row">
    <div id="template-iza2" class="gjs-cell">
        <label id="template-iwyo" class="label ">
            <div id="template-if574" class="">Name</div>
        </label>
        <input id="template-ipef" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <button id="template-iuhxu" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i0qdv" class="">Create</div>
        </button>
    </div>
    <div id="template-i6rc" class="gjs-cell">
        <label id="template-itnz" class="label ">
            <div id="template-i1hg1" class="">Description</div>
        </label>
        <input id="template-iqu8" [(ngModel)]="severity.description" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>