<h2 class="screen-align">Createtype</h2>
<div id="template-i288" class="gjs-row">
    <div id="template-i13k" class="gjs-cell">
        <label id="template-ipsk" class="label ">
            <div id="template-igfhi" class="">Name</div>
        </label>
        <input id="template-ilti" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <button id="template-ieabd" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ixdvb" class="">Create</div>
        </button>
    </div>
    <div id="template-ioak" class="gjs-cell">
        <label id="template-ib1o" class="label ">
            <div id="template-i6bhr" class="">Description</div>
        </label>
        <input id="template-ibjy" [(ngModel)]="types.description" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>